{% extends "layout.njk" %}
        
{% block head %} 
    <title> Sobre - {{ data.name }} </title> 
{% endblock %}

{% block content %}
        <div class="photo">
            <img src="{{ data.avatar_url }}" alt="Imagem de {{ data.name }}">
        </div>

       <div>
        <h1>{{ data.name }}</h1>
        <h2>{{ data.role }}</h2>
        <p>{{ data.description }} </p>
    </div>

    <div id= "link" class="links">
        {% for link in data.links %}
        <a href="{{ link.url }}" target="_blank">{{ link.name }} </a>
        {% endfor %}
    </div>

    {% endblock %}
    