<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="/style.css">
        
        {% block head %}{% endblock %}
    </head>
    
    <body>
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="mailto:campelowalef@gmail.com">Email</a>
                <a href="tel:+99984559880">Telefone</a>
                
            </div>
        </header>
        
        {% block content %}{% endblock %}
    
</body>
</html>
    