@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

* {
    padding: 0;
    margin: 0;
    border:0;
}

header {
    text-align: center;
    padding: 30px;
    background-color: #040533;
}

.links a  {
    font-size: 15px;
    padding-left: 40px;
    text-decoration: none;
    color: white;
}

.links a:hover {
    color: #028700;
    transition: color 300ms;
}

body {
    background-color: #010029;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
}

.photo {
    text-align: center;
    margin-top: 30px;
}

.photo img{
    border-radius: 50%;
    height: 180px;
    border: 5px solid #028700;
}

div {
    text-align: center;
}

h1 {
    
    font-size: 27px;
}

h2 {
    opacity: 0.4;
    font-size: 18px;
}

p {
    max-width: 450px;
    margin: 30px auto;
    font-weight: normal;
    margin-bottom: 40px;
    opacity: 0.7;
}

b {
    font-weight: bold;
}

#link a {
    padding-left: 0;
    font-weight: bold;
    color: white;
}

#link a:hover {
    color: green;
}

/* CARDS */

h1 {
    padding-top: 20px;
}

.cards {
    margin: 50px 100px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
}

.card {
    border: 2px solid black;
    background-color:#040533;
}

.card-image img {
    width: 100px;
    height: 150px;
    padding: 20px;
}

.tecnologia p {
    color: #fa8900;
    font-size: 40px;
    font-weight: bold;
    padding: 2px;
}

.card.html img {
    width: 140px; 
    height: 150;  
    padding-top: 20px;
}

/* MODAL */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 25%;
    height: 50%;
    margin: 20vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/* MODAL ACTIVE */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-content img {
    width: 0%;
    height: 80%;
    position: absolute;
    margin: 30px auto;
    left: 20%;

}

.modal-content.html img {
    width: 80%;
    height: 80%;
    position: absolute;
    margin: 30px auto;
    left: 10%;
}



